.footer {
    position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     text-align: center;
     clear: both;
      background-color: #5389b5;
      color:white
  }
  .footer a {
    color:white
  }
  
  .imglkn
  {
    float: right
  }
  .imglinkein
  {
    width: 55px;
  margin:20px;
  }
  .address
  {
    float: left;
    padding: 20px;
    font-size: 12px;
    font-weight: bolder;
  }